<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dashboard - Coke Kronos</title>
  <link rel="stylesheet" href="/css/retirarpalletadm.css" />
  <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
  <div class="sidebar">
    <h2>Dashboard</h2>
    <button onclick="window.location.href='/admin/usuarios'">Usuarios</button>
    <button onclick="window.location.href='/admin/transportes'">Transportes</button>
    <button onclick="window.location.href='/admin/cargarCamionAdmin'">Cargar Camión</button>
    <button onclick="window.location.href='/admin/inicio'">Inicio</button>
    <button onclick="window.location.href='/admin/cambioEntreBahiasAdmin'">Cambio entre Bahías</button>
    <button onclick="window.location.href='/admin/tiempos'">Tiempos</button>
    <button class="logout-btn" id="logoutBtn">Cerrar Sesión</button>
  </div>

  <div class="content">
    <div class="header">
      <h1>Lista de Pallets Listos Retirados</h1>
      <div class="fecha">
        <strong>Miércoles 2 de abril de 2025</strong><br />
        16:00 hrs
      </div>
    </div>

    <table class="tasks-table">
      <tr>
        <th>Usuario</th>
        <th>Tarea</th>
        <th>Tiempo ejecución</th>
        <th>Turno</th>
        <th>Fecha</th>
        <th>Transporte</th>
        <th>Bahía de Carga</th>
        <th>Código Ticket del Pallet</th>
      </tr>
      {{#each registros}}
      <tr>
        <td>{{nombreUsuario}}</td>
        <td>{{codigoTarea}}</td>
        <td>{{duracion}}</td>
        <td>{{turno}}</td>
        <td>{{formatDate operacionInicio}}</td>
        <td>{{transporte}}</td>
        <td>{{bahiaCarga}}</td>
        <td>{{codigoTicket}}</td>
      </tr>
      {{/each}}
    </table>


    <br>


<script>
  const logoutBtn = document.getElementById('logoutBtn');
  if (logoutBtn) {
      logoutBtn.addEventListener('click', () => {
          // Limpia sessionStorage y localStorage al cerrar sesión
          sessionStorage.clear();
          localStorage.clear();
          localStorage.removeItem('tareaActual');

          // Redirige al usuario a la página de inicio de sesión
          window.location.href = '/';
      }); // <-- ESTA ES LA LLAVE QUE FALTABA
  }
</script>

</body>
</html>
