<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirigiendo...</title>
</head>

<body>
    <script>
        // Guardamos en Local Storage
        const usuarioActual = {
            name: "{{name}}",
            email: "{{email}}",
            id: "{{id}}" // Aquí agregamos el ObjectId
        };
        localStorage.setItem('usuarioActual', JSON.stringify(usuarioActual));

        // Guardamos transportes y palletMaximo en Local Storage
        const transportes = {{{transportes}}}; // Se usa triple mustache para parsear JSON correctamente
        const palletMaximo = {{{palletMaximo}}};

        localStorage.setItem('transportes', JSON.stringify(transportes));
        localStorage.setItem('palletMaximo', JSON.stringify(palletMaximo));

        // Redirigimos
        window.location.href = "/tareas/seleccion";
    </script>
</body>
